.anchorpane {
    -fx-padding: 20.0 70.0 90.0 100.0;
    /*-fx-background-image: url('../images/bg.jpg');*/
    /*-fx-background-repeat: stretch;*/
    /*-fx-background-size: 900 600;*/
    -fx-background-position: center center;
    -fx-background-color: #857d7d;
}

.label {
    -fx-font-size: 12.0px;
    -fx-font-weight: bold;
    -fx-text-fill: #39ded0;//#333333;
    //-fx-effect: dropshadow(gaussian, rgba(255.0, 255.0, 255.0, 0.5), 0.0, 0.0, 0.0, 1.0);
}

#welcome-text {
    -fx-font-size: 50.0px;
    -fx-font-family: "Arial Black";
    -fx-fill: #818181;
    -fx-effect: innershadow(three-pass-box, rgba(0.0, 0.0, 0.0, 0.7), 6.0, 0.0, 0.0, 2.0);
}

#welcomeLBL {
    -fx-font-size: 25.0px;
    -fx-font-family: "Arial Black";
    -fx-fill: #818181;
    //-fx-effect: innershadow(three-pass-box, rgba(0.0, 0.0, 0.0, 0.7), 6.0, 0.0, 0.0, 2.0);
}

#actiontarget {
    -fx-fill: FIREBRICK;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(255.0, 255.0, 255.0, 0.5), 0.0, 0.0, 0.0, 1.0);
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-font-size: 14.0px;
    -fx-background-color:
            linear-gradient(#ffd65b, #e68400),
            linear-gradient(#ffef84, #f2ba44),
            linear-gradient(#ffea6a, #efaa22),
            linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
            linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    //-fx-background-color: linear-gradient(#61a2b1, #2A5058);
}

.text-field {
    -fx-background-color: #cdf1dd;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}
.text-field:focused {
    -fx-background-color: white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

#gridPane {
    -fx-hgap: 10.0px;
    -fx-vgap: 10.0px;
    -fx-alignment: top-right;
}

#upperGrid {
    -fx-vgap: 20.0px;

}

#leftGridPane {
    -fx-hgap: 10.0px;
    -fx-vgap: 10.0px;
    -fx-alignment: top-right;

}

#addMember {
    -fx-background-size: 50.0 50.0;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#addBook {
    -fx-background-size: 50.0 50.0;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#addCopies {
    -fx-background-size: 50.0 50.0;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#addPeriodical {
    -fx-background-size: 50.0 50.0;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

}

#viewEditMember {
    -fx-background-size: 50.0 50.0;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#viewOverdue {
    -fx-background-size: 50.0 50.0;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#checkOut {
    -fx-background-size: 50.0 50.0;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#logOut {
    -fx-background-size: 50.0 50.0;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

root {
    display: block;
}
